@import "generales";

@import "header";

@import "footer";

$main: 400px;
$footer: 20px;

.operadores {
    padding: $main - 100;

    .titulo {
        padding: $footer + 10;
        text-align: center;
        text-decoration: underline;

        p {
            padding: $footer + 5;

        }

    }
}
